@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light'),
        url('/fonts/Ubuntu-L.woff2') format('woff2'),
        url('/fonts/Ubuntu-L.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), local('Ubuntu Regular'),
        url('/fonts/Ubuntu-R.woff2') format('woff2'),
        url('/fonts/Ubuntu-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium'),
        url('/fonts/Ubuntu-M.woff2') format('woff2'),
        url('/fonts/Ubuntu-M.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu Bold'),
        url('/fonts/Ubuntu-B.woff2') format('woff2'),
        url('/fonts/Ubuntu-B.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "Ubuntu";
    font-weight: 300;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.6em;
}
p {
    color: #333;
    line-height: 1.4em;
}
a {
    color: unset;
    text-decoration: none;
    transition: color .15s linear;
}
a:hover {
    color: #b774ba;
}
a:active {
    color: #f38f9b;
}
.link {
    color: #7251b2;
    font-weight: 400;
}
.header {
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header .link {
    margin: 1em;
}
.footer {
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 0.5;
    color: #888;
}
.footer-snippet {
    margin: 1em;
    font-size: 0.75em;
}
.body {
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.homepage-main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.phone-demo-container {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-demo {
    max-height: 16em;
    background-size: contain;
    margin: 0 auto;
}
@media only screen and (orientation: portrait) {
  .homepage-main-content-wrapper {
    flex-direction: column;
  }
  .phone-demo {
    padding-bottom: 3em;
    padding-top: 1em;
  }
  .title-block {
    margin-right: 5em;
  }
}
@media only screen and (min-height: 750px) {
  .phone-demo-container {
    flex: 0.5;
  }
  .phone-demo {
    max-height: 20em;
  }
}
@media only screen and (min-height: 900px) {
  .phone-demo-container {
    flex: 0.6;
  }
  .phone-demo {
    max-height: 26em;
  }
}
@media only screen and (min-height: 1200px) {
  .phone-demo {
    max-height: 35em;
  }
}
.title-block {
    margin-left: 3em;
    font-size: 1.2em;
}
.title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25em;
}
.header .title-line {
    font-size: 0.7em;
}
.logo {
    margin-right: 1.5em;
    width: 3em;
    height: 3em;
}
.spacer {
    flex: 1;
}
.title-details {
    margin-left: 1em;
}
.text-column {
    padding: 2em 3em;
    max-width: 32em;
    margin: auto;
}
.blog-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.blog-list li {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    margin: 0.5em 0;
    border: 0.1em solid #eee;
    border-radius: 1em;
    background: #fff;
}
.article-desc {
    font-size: 0.85em;
}
.article-meta {
    font-size: 0.85em;
    text-align: end;
    margin: 0;
}
